*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
	width: 12px;
}

::-webkit-scrollbar:horizontal {
	height: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: #696969;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: black;
}

.colorful-3 {
	border-bottom: 3px solid rgb(0, 255, 255);
	clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - 4px),
		50% calc(100% - 4px),
		50% 100%,
		50% 100%,
		50% calc(100% - 4px),
		0 calc(100% - 4px)
	);
	background: rgb(255, 179, 89) center/0% 100% no-repeat #000;
	-webkit-background-clip: text;
	background-clip: text;
	transition: 0.5s;
}
.colorful-3:hover {
	background-size: 100% 100%;
	clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - 4px),
		100% calc(100% - 4px),
		100% 100%,
		0% 100%,
		0% calc(100% - 4px),
		0 calc(100% - 4px)
	);
}
